body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	background-image: url('/images/awd.jpg');
	background-color: #0b1d26;
	background-repeat: no-repeat;
	padding-bottom: 100px;
}

.container {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 15px;
}
.container2 {
	width: 1478px;
	margin: 0 auto;
	padding: 0 15px;
	background-color: #0b1d26;
}

/* -----------header-------- */
.header {
	padding-bottom: 184px;
}
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 55px;
	padding-left: 76px;
	padding-right: 39px;
}
.menu {
	list-style: none;
	padding: 0;
}
.logo {
	font-family: 'Playfair Display', sans-serif;
	font-weight: 700;
	font-size: 32px;
	width: 113px;
	height: 37px;
	letter-spacing: 0.01em;
	text-transform: capitalize;
}
.menu_link {
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	font-size: 18px;
	padding-left: 25px;
}
.menu_link_akk {
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	font-size: 17px;
}
.logo {
	display: flex;
	text-decoration: none;
	color: #fff;
}
.logo_sumbyl {
	padding-left: 2px;
}
.menu_img {
	position: absolute;
	right: 135px;
	top: 67px;
}
.menu_link1 {
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	font-size: 18px;
	padding-right: 28px;
}
.menu_link2 {
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	font-size: 18px;
	padding-right: 32px;
}
.menu_item {
	padding-right: 30px;
}
.menu_link3 {
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	font-size: 18px;
	padding-right: 12px;
}

/* ----------beginning-------------- */
.beginning {
	padding-bottom: 734px;
}
.beginning_content {
	display: flex;
	justify-content: space-between;
}
.social {
	color: #fff;
	padding-top: 67px;
}
.social_img {
	color: #fff;
	display: flex;
	padding-left: 65px;
	margin-top: 16px;
}
.twitter {
	padding-top: 10px;
}
.social_text {
	font-weight: 700;
	font-size: 18px;
	writing-mode: vertical-lr;
	padding-left: 63px;
}

.beginning_text {
	width: 950px;
	height: 419px;
	padding-left: 90px;
}
.title_beginning_text {
	color: #fbd784;
	font-weight: 800;
	font-size: 18px;
	letter-spacing: 0.33em;
	text-transform: uppercase;
}
.text_item {
	font-family: 'Playfair Display', sans-serif;
	font-weight: 600;
	font-size: 88px;
	line-height: 114%;
	text-transform: capitalize;
	color: #fff;
	padding-top: 35px;
}
.text_item_begin {
	padding-left: 100px;
}
.title_beginning_text:before {
	content: ' ';
	background: #fbd784;
	width: 72px;
	height: 2px;
	position: absolute;
	margin-top: 5px;
	transform: translateX(-3px);
}

.scroll {
	padding-top: 27px;
	font-weight: 700;
	font-size: 18px;
	color: #fff;
}
.beginning_scroll {
	padding-right: 80px;
	padding-top: 53px;
}
.slider {
	position: absolute;
	right: 63px;
	transform: translateY(-245px);
}
.text_scroll {
	font-weight: 700;
	font-size: 18px;
	color: #fff;
}
.scroll_number {
	display: flex;
	justify-content: end;
	padding-top: 48px;
	font-weight: 700;
	font-size: 18px;
	color: #fff;
	padding-right: 2px;
}
/* ------------------------ */
.per {
	/* width: 1920px; */
	height: 700px;
	background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0b1d26 65.28%);
}
.slider1,
.slider2,
.slider3 {
	/* width: 1478px; */
	padding-left: 230px;
	padding-right: 213px;
}
.slider1_text {
	width: 632px;
	height: 465px;
	padding-top: 190px;
	padding-right: 130px;
	padding-bottom: 65px;
	padding-left: 125px;
}
.slider1_content,
.slider2_content,
.slider3_content {
	display: flex;
}
.slider1_number {
	font-weight: 700;
	font-size: 240px;
	line-height: 100%;
	opacity: 0.1;
	color: #fff;
	position: absolute;
	left: 233px;
	transform: translateY(-156px);
}
.slider1_title {
	font-weight: 800;
	font-size: 18px;
	letter-spacing: 0.33em;
	text-transform: uppercase;
	color: #fbd784;
	padding-left: 98px;
}
.h_slider1 {
	font-family: 'Playfair Display', sans-serif;
	width: 555px;
	font-weight: 600;
	font-size: 64px;
	color: #fff;
	margin-top: 35px;
	margin-bottom: 30px;
	line-height: 1.25;
}
.slider1_text_item {
	font-weight: 700;
	font-size: 18px;
	line-height: 178%;
	color: #fff;
	width: 632px;
}
.slider1_read {
	font-weight: 700;
	font-size: 18px;
	color: #fbd784;
	padding-top: 30px;
}
.slider1_read_img {
	padding-left: 5px;
}

.slider1_title:before {
	content: ' ';
	background: #fbd784;
	width: 72px;
	height: 2px;
	position: absolute;
	margin-top: 6px;
	transform: translateX(-98px);
}
/* ------------------- */

.slider2 {
	padding-top: 214px;
	padding-left: 220px;
}
.slider2_text {
	padding-left: 264px;
	padding-top: 205px;
}
.slider2_number {
	font-weight: 700;
	font-size: 240px;
	line-height: 100%;
	opacity: 0.1;
	color: #fff;
	position: absolute;
	transform: translateY(-165px);
	left: 917px;
}
.slider2_title {
	font-weight: 800;
	font-size: 18px;
	letter-spacing: 0.33em;
	text-transform: uppercase;
	color: #fbd784;
	padding-left: 98px;
}
.slider2_title:before {
	content: ' ';
	background: #fbd784;
	width: 72px;
	height: 2px;
	position: absolute;
	margin-top: 6px;
	transform: translateX(-98px);
}
.h_slider2 {
	font-family: 'Poppins', sans-serif;
	width: 555px;
	font-weight: 600;
	font-size: 64px;
	color: #fff;
	line-height: 92px;
	margin-top: 35px;
	margin-bottom: 30px;
}
.slider2_text_item {
	font-weight: 700;
	font-size: 18px;
	line-height: 178%;
	color: #fff;
	width: 632px;
}

/* -------------------------- */
.slider3 {
	padding-top: 193px;
	padding-left: 357px;
	padding-right: 0px;
}
.slider3_text {
	padding-top: 190px;
	padding-right: 130px;
}
.slider3_number {
	font-weight: 700;
	font-size: 240px;
	line-height: 100%;
	opacity: 0.1;
	color: #fff;
	position: absolute;
	left: 240px;
	transform: translateY(-144px);
}
.slider3_title {
	font-weight: 800;
	font-size: 18px;
	letter-spacing: 0.33em;
	text-transform: uppercase;
	color: #fbd784;
	padding-left: 95px;
}
.slider3_title:before {
	content: ' ';
	background: #fbd784;
	width: 72px;
	height: 2px;
	position: absolute;
	margin-top: 6px;
	transform: translateX(-98px);
}
.h_slider3 {
	font-family: 'Poppins', sans-serif;
	width: 555px;
	font-weight: 600;
	font-size: 64px;
	color: #fff;
	line-height: 92px;
	margin-top: 35px;
	margin-bottom: 31px;
}
.slider3_text_item {
	font-weight: 700;
	font-size: 18px;
	line-height: 178%;
	color: #fff;
	width: 632px;
}

.slider3_img {
	padding-top: 8px;
}
/* --------------------------- */
.footer {
	padding-left: 230px;
	padding-right: 213px;
	padding-top: 200px;
}
.logo1 {
	font-family: 'Playfair Display', sans-serif;
	font-weight: 700;
	font-size: 32px;
	width: 113px;
	height: 37px;
	letter-spacing: 0.01em;
	text-transform: capitalize;
	display: flex;
	text-decoration: none;
	color: #fff;
	margin-top: 5px;
	margin-bottom: 20px;
}
.footer_content {
	display: flex;
	justify-content: space-between;
}
.the_blog {
	padding-left: 318px;
}

.title_blog,
.title_more_mntn {
	font-weight: 700;
	font-size: 24px;
	line-height: 133%;
	color: #fbd784;
}
.text_mntn {
	font-weight: 600;
	font-size: 18px;
	line-height: 178%;
	color: #fff;
}
.text_mntn2 {
	padding-top: 122px;
	padding-left: 5px;
	font-weight: 400;
	font-size: 18px;
	line-height: 178%;
	color: #fff;
	opacity: 0.5;
}
.the_blog_text,
.the_blog_text1,
.more_mntn_text,
.more_mntn_text1 {
	font-weight: 600;
	font-size: 18px;
	line-height: 178%;
	color: #fff;
	padding-top: 16px;
}
.the_blog_text1,
.more_mntn_text1 {
	padding-top: 24px;
}

.br2,
.nav_button {
	display: none;
}
/* ------------media------- */

@media (max-width: 768px) {
	.container {
		max-width: 768px;
		margin: 0;
	}
	body {
		/* background-image: url('/images/BG 768.jpg'); */
		background-size: 1450px;
        background-position-x: -233px;
		font-size: 16px;
		padding-bottom: 0;
	}
	.nav {
		padding-left: 40px;
	}
	.btn_line {
		position: absolute;
		left: 20px;
		width: 30px;
		height: 37px;
		background-color: #fff;
		height: 3px;
		transition: 0.3s ease;
	}
	.menu-open .nav_button .btn_line {
		background-color: #0b1d26;
	}
	.btn_line:nth-child(1) {
		top: 14px;
	}
	.btn_line:nth-child(2) {
		top: 26px;
	}
	.btn_line:nth-child(3) {
		top: 26px;
	}
	.btn_line:nth-child(4) {
		top: 40px;
	}
	.menu-open .btn_line:nth-child(1) {
		transform: scaleX(0);
	}
	.menu-open .btn_line:nth-child(2) {
		transform: rotate(45deg);
	}
	.menu-open .btn_line:nth-child(3) {
		transform: rotate(-45deg);
	}
	.menu-open .btn_line:nth-child(4) {
		transform: scaleX(0);
	}
	.nav_button {
		display: inline-block;
		width: 50px;
		height: 50px;
		background-color: transparent;
		order: 1;
		border: none;
		cursor: pointer;
		position: relative;
		z-index: 50;
	}
	.logo {
		z-index: 50;
	}
	.akk {
		z-index: 50;
	}
	.menu {
		margin-top: 0;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		background-color: #fff;
		transform: translateY(-100%);
		transition: 0.3s ease;
		height: 265px;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}
	.menu_link_akk {
		color: transparent;
	}
	.menu_img {
		visibility: hidden;
		content: url(/images/cart_bl.svg);
		fill: "#AB7C94"
	}
	.menu-open .akk .menu_img {
		transform: translateY(102px);
		visibility: visible;
	}
	.menu-open .akk .menu_link_akk {
		color: #0b1d26;
		position: absolute;
		transform: translateY(95px);
		right: 56px;
	}

	.menu-open .menu {
		transform: translateY(0%);
		color: #0b1d26;
	}
	.menu-open .logo {
		color: #354147;
	}
	.menu-open .menu .menu_item .menu_link1,
	.menu_link2,
	.menu_link3 {
		color: #0b1d26;
		position: absolute;
	}
	.menu-open .menu .menu_item .menu_link1 {
		transform: translateY(173px);
		left: 60px;
	}
	.menu-open .menu .menu_item .menu_link2 {
		transform: translateY(173px);
		left: 210px;
	}
	.menu-open .menu .menu_item .menu_link3 {
		transform: translateY(173px);
		left: 344px;
	}
	.text_item {
		font-size: 44px;
		line-height: 227%;
		padding-top: 35px;
		padding-left: 7px;
	}
	.beginning_text {
		padding-left: 22px;
	}
	.header {
		padding-bottom: 160px;
	}
	.text_item_begin {
		padding-left: 104px;
		font-size: 16px;
		letter-spacing: 0.38em;
	}
	.title_beginning_text:before {
		margin-top: 9px;
		transform: translateX(8px);
	}
	.social_text {
		padding-left: 52px;
		padding-top: 23px;
		font-size: 16px;
	}
	.social_img {
		width: 20px;
		padding-left: 50px;
		margin-top: 17px;
	}
	.twitter {
		padding-top: 0;
	}
	.scroll {
		font-weight: 700;
		font-size: 16px;
		padding-top: 22px;
		padding-left: 8px;
	}
	.beginning_scroll {
		padding-right: 30px;
		padding-top: 77px;
	}
	.text_scroll {
		font-weight: 700;
		font-size: 16px;
	}
	.scroll_number {
		font-weight: 700;
		font-size: 16px;
		padding-top: 46px;
	}
	.slider {
		right: 29px;
		transform: translateY(-235px);
	}
	.per {
		background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0b1d26 2.28%);
	}
	.h_slider1,
	.h_slider3 {
		font-family: 'Poppins', sans-serif;
		font-weight: 600;
		font-size: 40px;
		margin-bottom: 43px;
		margin-top: 34px;
		width: 565px;
	}
	.slider1_number,
	.slider3_number {
		font-weight: 700;
		font-size: 180px;
		line-height: 133%;
		font-family: 'Poppins', sans-serif;
		left: 68px;
		transform: translateY(-160px);
	}
	.slider1_text_item,
	.slider3_text_item {
		font-weight: 700;
		font-size: 16px;
		line-height: 200%;
	}
	.beginning {
		padding-bottom: 664px;
	}
	.slider1_text,
	.slider3_text {
		padding-top: 80px;
		padding-left: 53px;
		padding-bottom: 0px;
		padding-right: 0px;
	}
	.slider1_title,
	.slider3_title {
		font-size: 16px;
		letter-spacing: 0.38em;
	}
	.slider1,
	.slider3 {
		padding-left: 0px;
		padding-right: 0px;
	}
	.slider1_content,
	.slider3_content {
		flex-direction: column;
	}
	.slider1_read {
		font-size: 16px;
	}
	.slider1_img,
	.slider2_img,
	.slider3_img {
		width: 704px;
		height: 934px;
		padding-left: 15px;
	}
	.slider1_read_img {
		padding-left: 15px;
	}
	.br {
		display: none;
	}

	#s2_c {
		display: flex;
		flex-direction: column;
	}
	#s2_i {
		order: 2;
	}
	#s2_t {
		order: 1;
	}
	.slider2 {
		padding-top: 770px;
		padding-left: 0;
		padding-right: 0px;
		width: 634px;
	}
	.slider2_text {
		padding-left: 48px;
		padding-top: 210px;
	}
	.s2_nt span,
	.s3_nt span {
		display: none;
	}
	.s2_nt:after,
	.s3_nt:after {
		content: 'GEt Started';
		font-weight: 800;
		font-size: 16px;
		letter-spacing: 0.38em;
		text-transform: uppercase;
		color: #fbd784;
		padding-left: 98px;
	}
	.s2_nt:before,
	.s3_nt:before {
		content: ' ';
		background: #fbd784;
		width: 72px;
		height: 2px;
		position: absolute;
		margin-top: 6px;
		transform: translateX(-10px);
	}
	.slider2_title {
		font-weight: 800;
		font-size: 16px;
		letter-spacing: 0.38em;
	}
	.h_slider2 {
		font-weight: 600;
		font-size: 40px;
		text-align: right;
		width: 637px;
		margin-top: 16px;
		margin-bottom: 10px;
	}
	.slider2_text_item {
		font-weight: 700;
		font-size: 18px;
		line-height: 178%;
		text-align: right;
	}
	.slider2_number {
		font-size: 180px;
		line-height: 133%;
		transform: translateY(-151px);
		left: 67px;
	}
	.slider2_img {
		padding-top: 60px;
	}

	.slider3 {
		padding-top: 122px;
	}
	.br3 {
		display: none;
	}
	.h_slider3 {
		margin-top: 12px;
		margin-bottom: 73px;
	}
	#s3_tim {
		position: absolute;
		left: 66px;
		transform: translateY(62px);
	}
	.slider3_text_item {
		font-weight: 700;
		font-size: 18px;
		line-height: 178%;
	}
	.slider3_img {
		padding-top: 48px;
	}
	.footer {
		width: 700px;
		height: 306px;
		padding-left: 30px;
		padding-top: 91px;
		padding-right: 0px;
	}
	.footer_content {
		display: flex;
		justify-content: flex-start;
	}
	.text_mntn,
	.the_blog_text1,
	.the_blog_text,
	.more_mntn_text1,
	.more_mntn_text {
		font-weight: 600;
		font-size: 16px;
		line-height: 200%;
	}
	.title_more_mntn,
	.title_blog {
		font-weight: 700;
		font-size: 20px;
		line-height: 160%;
	}
	.text_mntn {
		width: 240px;
	}
	.text_mntn2 {
		font-weight: 400;
		font-size: 14px;
		line-height: 229%;
		width: 300px;
		padding-top: 116px;
	}
	.f_br {
		display: none;
	}
	.the_blog {
		padding-left: 20px;
	}
	.More_MNTN {
		padding-left: 46px;
	}
	.the_blog_text1 {
		padding-top: 27px;
	}
	.the_blog_text {
		padding-top: 10px;
	}
	.more_mntn_text {
		padding-top: 10px;
	}
}
@media (max-width: 480px) {
	body {
		/* background-image: url('/images/BG480.jpg'); */
		background-size: 900px;
        background-position-x: -255px;
        background-position-y: -28px;
	}
	.container {
		max-width: 480px;
		margin: 0;
	}
	.header {
		padding-bottom: 10px;
	}
	.nav {
		padding-left: 4px;
		padding-right: 10px;
	}
	.menu {
		height: 350px;
	}
	.menu-open .logo{
		font-size: 32px;
		padding-left: 20px;
	}
	.menu-open .nav_button{
		width: 70px;
	}
	.menu-open .menu .menu_item .menu_link1 {
		transform: translateY(177px);
		left: 40px;
	}
	.menu-open .menu .menu_item .menu_link2 {
		transform: translateY(223px);
		left: 40px;
	}
	.menu-open .menu .menu_item .menu_link3 {
		transform: translateY(267px);
		left: 40px;
	}
	.btn_line:nth-child(4) {
		top: 37px;
	}
	.logo {
		font-weight: 700;
		font-size: 40px;
		letter-spacing: 0.01em;
		text-transform: capitalize;
	}
	.beginning {
		padding-bottom: 0px;
		width: 480px;
	}
	.beginning_content {
		display: inline;
	}
	.beginning_text {
		width: 370px;
		padding-left: 5px;
	}
	.social_text {
		writing-mode: horizontal-tb;
		display: flex;
		justify-content: end;
		padding-right: 74px;
	}
	.social {
		padding-top: 34px;
	}
	.social_img {
		position: absolute;
		transform: translateY(-35px);
		right: 55px;
	}
	.twitter {
		transform: translateY(-35px);
		right: 19px;
	}
	.text_item_begin {
		padding-top: 40px;
		padding-left: 96px;
	}
	.title_beginning_text:before {
		margin-top: 47px;
		transform: translateX(-16px);
		z-index: -10;
	}
	.text_item {
		line-height: 159%;
		padding-left: 0px;
	}
	.scroll {
		padding-top: 34px;
		padding-left: 0px;
	}
	.text_scroll {
		position: absolute;
		right: 45px;
		transform: translateY(-362px);
	}
	.slider {
		transform: translateY(-381px);
	}
	.slider1, .slider2, .slider3{
		width: 440px;
		padding-right: 0px;
	}
	.scroll_number {
		position: absolute;
	}
	#S_n1 {
		right: 43px;
		transform: translateY(-343px);
	}
	#S_n2 {
		right: 43px;
		transform: translateY(-280px);
	}
	#S_n3 {
		right: 43px;
		transform: translateY(-215px);
	}
	.per {
		background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0b1d26 20.28%);
		width: 481px;
	}
	.slider1_title {
		font-size: 14px;
		letter-spacing: 0.43em;
	}
	.h_slider1 {
		font-size: 30px;
		margin-bottom: 29px;
		width: 440px;
	}
	.slider1_text_item {
		font-weight: 500;
		font-size: 14px;
		line-height: 229%;
		width: 440px;
	}
	.slider1_read {
		font-size: 14px;
		padding-top: 26px;
	}
	.slider1_text {
		padding-top: 64px;
		padding-left: 3px;
		height: 404px;
		width: 300px;
        padding-right: 0px;
	}
	.slider1_number {
		font-size: 140px;
		line-height: 107%;
		left: 20px;
		transform: translateY(-84px);
	}
	.slider1_read_img {
		padding-left: 15px;
		width: 20px;
		position: absolute;
		transform: translateY(6px);
	}
	.slider1_img {
		content: url(/images/01\(480\).png);
		width: 440px;
		height: 509px;
		padding-left: 5px;
		size: 10px;
	}
	.slider2 {
		padding-top: 200px;
	}
	.slider2_text {
		padding-left: 5px;
	}
	.slider2_number {
		font-size: 140px;
		line-height: 107%;
		left: 20px;
		transform: translateY(-90px);
	}
	.slider2_text_item {
		width: 440px;
		font-weight: 500;
		font-size: 14px;
		line-height: 229%;
	}
	.h_slider2 {
		font-size: 30px;
		width: 404px;
		line-height: 50px;
		padding-left: 33px;
		margin-bottom: 20px;
		margin-top: 24px;
	}
	#gear {
		padding: 0px;
	}
	.s2_nt:after {
		font-size: 14px;
	}
	.s2_nt:before {
		margin-top: 8px;
		transform: translateY(0px);
	}
	.slider2_img,
	.slider3_img {
		width: 440px;
		height: 509px;
		padding-left: 5px;
		padding-top: 30px;
	}
	.slider3 {
		padding-top: 29px;
	}
	.slider3_number {
		font-size: 140px;
		line-height: 107%;
		left: 20px;
		transform: translateY(-70px);
	}
	.s3_nt:after {
		font-size: 14px;
	}
	.slider3_text {
		padding-left: 5px;
	}
	.h_slider3 {
		font-size: 30px;
		width: 440px;
		line-height: 50px;
		margin-top: 24px;
		margin-bottom: 20px;
	}
	#s3_tim {
		position: relative;
		left: 0;
	}
	.slider3_text_item {
		width: 440px;
		font-weight: 500;
	}
	.footer_content {
		flex-direction: column;
		max-width: 480px;
		margin: 0;
	}
	.text_mntn2 {
		position: absolute;
		transform: translateY(290px);
		font-weight: 400;
		font-size: 12px;
		line-height: 267%;
		left: 16px;
	}
	.footer {
		width: 440px;
		padding-left: 20px;
		padding-top: 116px;
		padding-right: 0;
	}
	.text_mntn {
		font-weight: 500;
		font-size: 12px;
		line-height: 267%;
		width: 440px;
	}
	.the_blog {
		padding-top: 22px;
		padding-left: 0px;
	}
	.the_blog_text,
	.the_blog_text1,
	.more_mntn_text,
	.more_mntn_text1 {
		font-weight: 500;
		font-size: 13px;
		line-height: 100%;
	}
	.More_MNTN {
		padding-left: 0px;
		padding-top: 39px;
	}
	.the_blog_text1 {
		padding-top: 10px;
	}
	.the_blog_text {
		padding-top: 23px;
	}
	.more_mntn_text1 {
		padding-top: 10px;
	}
	.more_mntn_text {
		padding-top: 15px;
	}
}
